.about {
    height: 100vh;
    background: #F7EDE8;
}

.about .about-buttons {
    display: flex;
    gap: 10px;
    font-size: 14px;
    width: 350px;
}

.about .outline-button {
    width: 200px;
    font-weight: bold;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.25);
}

.about .button {
    font-weight: bold;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.25);
}
