.hero {
    display: flex;
    max-height: 70%;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.stars {
    padding-right: 40px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
    align-items: center;
}

.hero-content h1 {
    font-weight: bold;
    line-height: 100%;
}

.hero-content p {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 16px;
}

.hero-content h1 span {
    color: #CD4631;
}

.hero-content button {
    height: 50px;
    width: 136px;
}

.card {
    padding: 30px;
    display: flex;
    background: #FFFFFF;
    align-self: center;
    flex-direction: column;
    height: 360px;
    border-radius: 8px;
    justify-content: start;
    width: 570px;
    margin-right: 15px;
}

.card h1 {
    font-size: 96px;
    align-self: start;
    letter-spacing: -2px;
    color: #CD4631;
    height: 115px;
}

.card-navigation {
    height: 56px;
}


.tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tiles img {
    border-radius: 12px;
    transition: all 0.3s ease 0s;
    margin-right: 20px;
}

.tiles img:hover {
    transform: scale(1.1);
}

.social-logos {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.platforms {
    border-top: 1px solid #4D4D4D;
    border-bottom: 1px solid #4D4D4D;
    height: 90px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px 12px;
}