@import "../../app/theme";

.landing {
  max-height: 100vh;
  width: 100%;

  .hero-content h1 {
    font-weight: bold;
    line-height: 100%;
  }

  .display {
    span {
      color: $vermillion;
    }
  }

  .hero-content button {
    height: 50px;
    width: 136px;
  }

  .tiles {
    justify-content: space-around;

    img {
      border-radius: 12px;
      transition: all 0.3s ease 0s;
      margin-right: 20px;
    }

    img:hover {
      transform: scale(1.1);
    }
  }


  .social-logos {

    img {
      width: 198px;
      height: 30px;
    }
  }

  $border: 1.5px solid $davysGrey;

  .platforms {
    border-top: $border;
    border-bottom: $border;
    width: 75%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin: 50px 12px;
    padding: 20px 12px;
  }

  @media only screen and (max-width: 1024px) {
    .landing {
      width: 100%;

      .platforms {
        flex-direction: column;
        padding: 5px 0;
      }

      .social-logos img {
        width: 130px;
        margin-top: 5px;
        height: 25px;
      }

      .hero img {
        width: 100px;
        height: 100px;
      }
    }
  }
}

