@import "../../app/theme";

.landing {
  max-height: 100vh;
  width: 100%;

  .hero {
    display: grid;
    max-height: 70%;
    grid-template: repeat(1, 1fr)/  1fr 2fr 1fr;
    width: 100%;
    align-items: center;
    padding-bottom: 60px;
  }

  .hero img {
    margin-bottom: 50px;
  }

  .stars {
    justify-self: end;
  }

  .spring {
    justify-self: start;
    height: 300px;
  }

  .hero-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-content h1 {
    font-weight: bold;
    line-height: 100%;
  }

  .hero-content p {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 16px;
  }

  .display {
    span {
      color: $vermillion;
    }
  }

  .hero-content button {
    height: 50px;
    width: 136px;
  }

  .tiles {
    justify-content: space-around;

    img {
      border-radius: 12px;
      transition: all 0.3s ease 0s;
      margin-right: 20px;
    }

    img:hover {
      transform: scale(1.1);
    }
  }


  .social-logos {

    img {
      width: 198px;
      height: 30px;
    }
  }

  $border: 1.5px solid $davysGrey;

  .platforms {
    border-top: $border;
    border-bottom: $border;
    width: 75%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin: 50px 12px;
    padding: 20px 12px;
  }

  @media only screen and (max-width: 1024px) {
    .landing {
      width: 100%;

      .platforms {
        flex-direction: column;
        padding: 5px 0;
      }

      h1 {
        font-size: 16px;
      }

      .social-logos img {
        width: 130px;
        margin-top: 5px;
        height: 25px;
      }

      .hero img {
        width: 100px;
        height: 100px;
      }
    }
  }
}

