.social-logos {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.platforms {
    border-top: 1px solid #4D4D4D;
    border-bottom: 1px solid #4D4D4D;
    height: 90px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px 12px;
}
