.testimonial {
    padding: 50px;
    height: 100vh;
    background: #EDF3F7;
    overflow: auto;
}

.contact {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.testimonial-card {
    padding: 30px;
    display: flex;
    background: #FFFFFF;
    align-self: center;
    flex-direction: column;
    border-radius: 8px;
    justify-content: start;
    width: 570px;
    margin-right: 15px;
}

.testimonial-card h1 {
    font-size: 96px;
    align-self: start;
    letter-spacing: -2px;
    color: #CD4631;
    height: 115px;
}

.contact h6 {
    margin-left: 15px;
    margin-right: 15px;
    align-self: center;
}

.contact .social {
    width: 150px;
    height: 50px;
    align-self: center;
}

.contact .avatar {
    border-radius: 50%;
    align-self: center;
    width: 50px;
    height: 50px;
}

.testimonial-card p {
    text-align: justify;
}

.testimonial header {
    display: grid;
    height: 150px;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 3fr;
}

.testimonial header h1 {
    grid-column: 2/ 3;
    justify-self: start;
    align-self: end;
}


.testimonial header img {
    width: 105px;
    height: 105px;
    justify-self: end;
    align-self: start;
}

.testimonial h3 {
    grid-column: 1/ 3;
    padding-bottom: 60px;
    font-size: 23px;
}

.testimonial-list {
    align-content: center;
    width: calc(570px * 7);
    display: flex;
}

.testimonials-wrapper {
    display: flex;
    justify-items: center;
    max-width: 100vw;
    height: 70%;
    overflow: scroll;
    transition: all .3ms;
}

.card-navigation {
    display: flex;
    height: 50px;
    margin: 30px;
    justify-self: center;
}

.card-navigation img {
    height: 100%;
    transition: all 0.2s ease-in;
    width: 40px;
}

.card-navigation img:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 1024px) {
    .card-navigation {
        display: none;
    }

    .testimonials-wrapper {
        height: 80%;
    }

    .testimonial-list {
        align-content: center;
        flex-direction: column;
        display: flex;
        height: calc(250px * 4);
    }


    .testimonial-card {
        height: 250px;
        padding: 10px;
        margin: 10px;
        width: 90%;
    }

    .testimonial-card h1 {
        font-size: 70px;
        height: 60px;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .contact .avatar {
        width: 30px;
        height: 30px;
    }

    .testimonial header img {
        width: 50px;
        height: 50px;
        justify-self: end;
        align-self: start;
    }

    .testimonial h3 {
        font-size: 16px;
        padding-bottom: 0;
    }

    .contact h6 {
        margin-left: 5px;
        margin-right: 5px;
    }
}