.recent-episodes {
    padding: 30px;
    display: flex;
    width: 100vw;
    flex-direction: column;
}

.recent-episodes-grid {
    align-content: center;
    padding: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 20px;
}

.recent-episodes-card {
    width: 570px;
    height: 250px;
    padding: 20px;
    background: #fff;
    border: 2px solid #000;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.footer-image {
    width: 30px;
    height: 30px;
    margin: -5px;
    border: 2px solid #F7EDE8;
    border-radius: 50%;
}

.recent-episodes-card h4 {
    font-size: 14px;
    font-weight: bold;
    color: #CD4631;
}

.recent-episodes-card h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: start;
    color: #CD4631;
    font-size: 20px;
}

.recent-episodes-card p {
    text-align: start;
}


.top {
    height: 80%;
    display: flex;
    flex-direction: row;
}

.top .image {
    width: 166px;
    border-radius: 12px;
    background: #81ADC8;
}

hr {
    margin: 15px 0;
    background: #4D4D4D;
    width: 100%;
}

.top .description {
    display: flex;
    flex: 1;
    align-items: start;
    flex-direction: column;
    margin-left: 15px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.hosted-by {
    font-weight: bold;
}

.footer-content {
    margin-top: 10px;
    height: 31px;
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.tags li {
    border: 1px solid #4D4D4D;
    border-radius: 4px;
    margin-right: 10px;
}


.hosts {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.hosts p {
    margin: 0 10px;
}

.description p {
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .recent-episodes-grid {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
    }

    .recent-episodes-card h3 {
        font-size: 14px;
    }

    .recent-episodes-card h4 {
        font-size: 10px;
    }

    .top .description {
        margin-left: 10px;
    }

    p {
        font-size: 12px;
    }
}

.button {
    width: 200px;
    height: 56px;
    align-self: center;
    font-size: 14px;
}

@media only screen and (max-width: 1024px) {
    .recent-episodes {
        padding: 10px;
    }

    .recent-episodes-grid {
        padding: 1px;
    }

    .recent-episodes-card h3 {
        font-size: 14px;
    }

    .recent-episodes-card {
        width: 100%;
        height: 200px;
    }

    .recent-episodes-card h4 {
        font-size: 10px;
    }

    .top .description {
        margin-left: 10px;
    }

    .description p {
        font-size: 12px;
    }
}