
.tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tiles img {
    border-radius: 12px;
    transition: all 0.3s ease 0s;
    margin-right: 20px;
}

.tiles img:hover {
    transform: scale(1.1);
}