.become-our-sponsor {
    background: #fff;
    width: 100%;
    padding: 50px;
}

.pricing-grid {
    display: grid;
    align-self: center;
    align-content: center;
    justify-content: center;
    grid-gap: 20px;
    grid-template: repeat(2, minmax(0, 357px))/ repeat(3, minmax(0, 400px));
}

.become-our-sponsor .subtitle {
    margin-bottom: 30px;
}

.pricing-card {
    border: 2px solid #000;
    display: grid;
    grid-template: 1fr 2fr 1fr/ 1fr;
    border-radius: 8px;
    padding: 30px;
}

.whats-included {
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    padding: 30px;
}

.whats-included ul {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    list-style-type: disc;
}

.whats-included li {
    padding-bottom: 10px;
    text-align: start;
    font-size: 16px;
}

.star4 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.whats-included h3 {
    color: #4D4D4D;
}

.family {
    background: #F7EDE8;
}

.pricing-card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing-card .subscribe-button {
    padding: 0;
    margin: 10px 0;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.25)
}


.pricing-card h1 {
    justify-self: start;
}

.pricing-card .price {
    display: grid;
    flex-direction: column;
    align-items: center;
    line-height: 30%;
}

.pricing-card p {
    text-align: start;
    font-size: 16px;
}

@media only screen and (max-width: 1024px) {
    .become-our-sponsor {
        padding: 10px;
    }

    .pricing-card {
        padding: 10px;
    }

    .pricing-card .price {
        line-height: 60%;
    }

    .pricing-grid {
        display: grid;
        align-self: center;
        align-content: center;
        justify-content: center;
        grid-gap: 10px;
        grid-template: repeat(6, minmax(0, 200px))/ repeat(1, minmax(0, 100vw));
    }

    .whats-included li {
        padding-bottom: 5px;
        font-size: 16px;
    }

    .whats-included {
        padding: 10px
    }

    .whats-included ul {
        padding: 10px;
    }
}