@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,500&display=swap");

.App {
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

header {
    height: 70px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.navigation {
    border: 1px solid red;
}

ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

ul li a {
    padding: 0 20px;
    display: inline-block;
}

.top-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-buttons div {
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 20px;
}

.recent {
    border-radius: 8px;
    border: 2px solid black;
    transition: all 0.3s ease 0s
}


.button {
    margin-left: 10px;
    width: 136px;
    border-radius: 8px;
    background: black;
    box-shadow: 0 5px 10px rgba(29, 37, 31, 0.4);
    color: white;
    transition: all 0.3s ease 0s
}

.button:hover {
    transform: translateY(-5px);
}

.recent:hover {
    transform: translateY(-5px);
}


ul li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: rgba(0, 0, 0, 0.15);
    transition: all 0.5s;
}

ul li a:hover::after {;
    width: 100%;
}

.hero {
    display: flex;
    max-height: 70%;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


.stars {
    padding-right: 40px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
    align-items: center;
}

.hero-content h1 {
    font-weight: bold;
    line-height: 100%;
}

.hero-content p {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 16px;
}

.hero-content h1 span {
    color: #CD4631;
}

.hero-content button {
    height: 50px;
    width: 136px;
}

.card {
    padding: 30px;
    display: flex;
    background: #FFFFFF;
    align-self: center;
    flex-direction: column;
    height: 360px;
    border-radius: 8px;
    justify-content: start;
    width: 570px;
    margin-right: 15px;
}

.card h1 {
    font-size: 96px;
    align-self: start;
    letter-spacing: -2px;
    color: #CD4631;
    height: 115px;
}

.card-navigation {
    height: 56px;
}