@import "../../app/theme";

.podcast-detail {
  width: 100%;
  display: grid !important;
  flex-direction: column;

  .landing-hero {
    grid-column: 1;
    grid-row: 1;
  }

  .stars {
    margin-right: -50px;
  }

  .top {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    width: 85%;
    justify-self: center;
    margin-top: 50px;
    height: 60%;
    grid-template-columns: 1fr 1.2fr;

    img {
      height: 472px;
      width: 472px;
      box-shadow: 12px 12px 0 $pewterBlue;
      border-radius: 8px
    }

    .left {
      display: flex;
      flex-direction: column;
      justify-items: start;
      justify-content: start;
      align-items: start;

      .tags-area {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        gap: 50px;
        align-items: center;
      }
    }

    .right {
      display: flex;
      align-items: start;
      margin: 30px 10px;
      flex-direction: column;

      .right-top {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .featured {
        border: 1px solid $vermillion;
        padding: 4px;
        border-radius: 4px;
      }

      h3 {
        font-weight: bold;
        font-size: 16px;
        color: $vermillion;
      }

      h2 {
        font-weight: bold;
        font-size: 36px;
        text-align: start;
        letter-spacing: -0.02em;
      }

      p {
        color: $davysGrey;
        font-size: 16px;
        text-align: start;
      }


      .host {
        display: flex;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: row;
        justify-content: space-between;

        .hosted-by {
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 10px;
        }

        .host-name {
          font-size: 14px;
          font-weight: bold;
          color: $vermillion;
        }

        img {
          border-radius: 50%;
          height: 36px;
          width: 36px;
          box-shadow: none;
        }
      }

      .bottom-buttons {
        display: flex;
        gap: 20px;
        font-size: 14px;

        button {
          height: 62px;
          box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.25);
          font-weight: bold;
        }

        .button {
          width: 160px;
        }
      }

      .listen-now-btn {
        display: flex;
        flex-direction: row;
        width: 268px !important;
        padding: 0 30px;
        gap: 10px;
        align-items: center;

        img {
          width: 14px;
          height: 14px;
          box-shadow: none;
        }

        p {
          font-size: 14px;
        }

        span {
          color: $vermillion;
          font-size: 14px;
        }
      }
    }

    padding-bottom: 30px;
  }

  .bottom-content {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

    .selected{
      color: $vermillion
    }

    hr {
      border: 1px solid $black;
      width: 85%;
      margin-bottom: 50px;
    }

    .heading {
      display: grid;
    }

    .sparkle {
      grid-column: 1/1;
      margin-left: -85px;
      margin-top: -50px;
      grid-row: 1/1;
    }

    li{
      transition: all 0.20s ease-in;
    }

    .title {
      grid-column: 1/1;
      grid-row: 1/1;
      margin-bottom: 60px;
    }

    .genre-nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .podcast-genre-list {
        width: 80%;
        justify-content: space-between;
        display: flex;
        font-size: 22px;
        flex-direction: row;
        margin-bottom: 30px;
        line-height: 160%;

        li{
          cursor: pointer;
        }
      }
    }
  }
}