header {
    height: 70px;
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.logo {
    width: 74px;
    height: 74px;
}

.top-buttons {
    display: flex;
}

.top-buttons div {
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 20px;
}

.recent-episodes-btn {
    border-radius: 8px;
    border: 2px solid black;
    transition: all 0.3s ease 0s
}

.recent-episodes-btn:hover {
    transform: translateY(-5px);
}

ul li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: rgba(0, 0, 0, 0.15);
    transition: all 0.5s;
}

ul li a:hover::after {;
    width: 100%;
}

ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

ul li a {
    padding: 0 20px;
    display: inline-block;
}

@media only screen and (max-width: 1024px) {
    header {
        height: 50px;
        width: 100%;
        font-size: 12px;
    }

    .top-buttons div {
        text-transform: uppercase;
        font-weight: bold;
        padding: 0;
    }

    .top-buttons {
        align-items: center;
        flex-direction: row;
    }

    header button {
        height: 50px;
    }

    ul li a {
        padding: 5px;
    }

    .logo {
        width: 30px;
        height: 30px;
    }

    .subscribe-button {
        background: green;
        border: 1px solid red;
        margin: 10px;
        height: 40px;
    }
}