@import "../app/theme";

nav {
  height: 70px;
  padding-top: 30px;
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 74px;
    height: 74px;
  }

  .buttons {
    display: flex;
    align-items: center;

    .recent-episodes {
      width: 200px;
      justify-content: center;
      padding: 8px 20px;
    }
  }

  ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    align-items: center;

    li {
      padding: 0 20px;
      display: inline-block;
    }

    :hover::after {;
      width: 100%;
    }


    a::after {
      content: '';
      display: block;
      height: 4px;
      width: 0;
      background-color: rgba(0, 0, 0, 0.15);
      transition: all 0.5s;
    }
  }

  .left {
    width: 100%;
    display: flex;
    gap: 50px;
  }


  @media only screen and (max-width: 1024px) {
    header {
      height: 50px;
      width: 100%;
      font-size: 12px;
    }

    .buttons {
      text-transform: uppercase;
      font-weight: bold;
      padding: 0;
    }

    .logo {
      width: 30px;
      height: 30px;
    }
  }
}
