@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    background: #F7EDE8;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    min-width: 850px;
}

h3 {
    font-size: 23px;
    padding-top: 20px;
}