@import "../app/theme";

footer {
  background: #fff;
  width: 100vw;

  .wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
  }

  .top {
    display: grid;
    padding: 10px;
    grid-template: 1fr / 2fr 1fr 1fr 2fr;
  }

  .about-grid {
    margin: 50px 0;
    border: 0.5px solid $davysGrey;
  }

  p {
    text-align: start;
    font-size: 14px;
  }


  ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 14px;
    gap: 30px;
    justify-content: start;
  }

  .footer-left img {
    height: 24px;
    width: 24px;
  }

  .social-logos {
    display: flex;
    margin-bottom: 30px;
    flex-direction: row;
  }

  .app-stores {
    display: flex;
    flex-direction: row;
    border: none;
    justify-content: start;
    padding: 0;
    margin: 0;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 30px;
    justify-content: start;
    gap: 20px;
  }

  .footer-left .logo {
    height: 74px;
    width: 74px;
  }

  .footer-left .socials {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 10px;
  }

  .footer-right {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  hr {
    border: 0.5px solid $davysGrey;
    width: 100%;
    margin: 50px 0;
    align-self: center;
    justify-self: center;
  }
}